<div class = "col-lg-8">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>    
</div>


<p class = "col-lg-4"> Detail for server {{server.name}} </p>







<div class = "row">

	<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4  col-xs-offset-2">
		<div class = "score floatRight" >{{gameInfo.teams[0].score}}</div>
		<div class = "teamTitle floatLeft">Team {{gameInfo.teams[0].team}} </div>	
	</div>
	
	<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4  col-lg-4" >
		<div class = "score floatFeft" >{{gameInfo.teams[1].score}}</div>
		<div class = "teamTitle floatRight">  Team {{gameInfo.teams[1].team}} </div>	
	</div>
</div>

<div class = "row">	


	<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4  col-xs-offset-2">


		<div class = "noplayer" ng-show="gameInfo.teams[0].players.length == 0">
		
			No players in this team
		
		</div>


	<div class="playerCard" ng-repeat="player in gameInfo.teams[0].players"  ng-show = "gameInfo.teams[0].players.length > 0" >
		<table border = 0>

			<tr >
				<td width= "10%" rowspan = 2>
					<img src = "imgs/player_ship_1.png" />
					<div class = "level">

					L1
					</div>
				</td>
				<td  width= "65%"  colspan = 2>
					
			
				<div  class = "cardCenter playername">	{{player.name}}</div>
				</td>

				<td>
					<div class = "cardCenter">
						<div class="victim">{{player.victims}} <i  title="number of victims" class="glyphicon glyphicon-screenshot"/></div>
					 
				</div>
				</td>

			</tr>
			
			<tr>
				<td colspan = 2>



					<progressbar title="Life"  class="active" max="100" max="player.lifeInPourc" value="player.lifeInPourc" type="danger"><span>{{player.lifeInPourc}}</span></progressbar>
					<progressbar title="Shield" class="active" max="100" value="player.shieldInPourc" ><span>{{player.shieldInPourc}}</span></progressbar>
                    

				</td>
				<td>
					<div class = "cardCenter">
					{{player.ping}} ms
				</div>
				</td>
				

				
			</tr>


		</table>

	 </div>
	
	</div>




	
	<div class = "col-xs-4 col-sm-4 col-md-4 col-lg-4  col-lg-4" >

		<div class = "noplayer" ng-show="gameInfo.teams[1].players.length == 0">
		
			No players in this team
		
		</div>
		<div class="playerCard" ng-repeat="player in gameInfo.teams[1].players"  ng-show = "gameInfo.teams[1].players.length > 0">

		<table border = 0>

			<tr >
				<td width= "10%" rowspan = 2>
					<img src = "imgs/player_ship_1.png" />
					<div class = "level">

					L1
					</div>
				</td>
				<td  width= "65%"  colspan = 2>
					
			
				<div  class = "cardCenter playername">	{{player.name}}</div>
				</td>

				<td>
					<div class = "cardCenter">
						<div class="victim">{{player.victims}} <i  title="number of victims" class="glyphicon glyphicon-screenshot"/></div>
					 
				</div>
				</td>

			</tr>
			
			<tr>
				<td colspan = 2>



					<progressbar title="Life"  class="active" max="100" max="player.lifeInPourc" value="player.lifeInPourc" type="danger"><span>{{player.lifeInPourc}}</span></progressbar>
					<progressbar title="Shield" class="active" max="100" value="player.shieldInPourc" ><span>{{player.shieldInPourc}}</span></progressbar>
                    

				</td>
				<td>
					<div class = "cardCenter">
					{{player.ping}} ms
				</div>
				</td>
				

				
			</tr>


		</table>

	 </div>
	
	</div>



	


</div>




