/* app css stylesheet */

@font-face { font-family: spaceranger; src: url('fonts/spaceranger.ttf'); } 
@font-face { font-family: spaceAge; src: url('fonts/space age.ttf'); } 

body{
  background-color: black;
}

.clear {
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.version{
  top: 0;
  right: 0;
  position: absolute;
  margin: 3px;
  font-family: spaceAge;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
}

#mainContainer{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
}


.level {
  
  height: 100%;
  width: 100%;
  text-align: center;  
  margin: 2px;
  
}

.playerCard {
  border: 3px solid black;
  margin: 5px;     

}

.verticalCut {
  
  top : 0;
  margin-left: 20px;  
  height: 50%;
  
  border: 2px solid red;
}


.playerCard table {
  border: 0 px solid gray; 
  width: 100%;  
  background: #4A4A4A;
}

.playerCard td {
  border: 1 px solid gray; 
  color: #e3c51d;

}

.score {
  display:  inline;
  font-family: spaceranger;
  font-size: 40pt;
  color: white;
}



.teamTitle {
  display:  inline;  
  font-family: spaceranger;
  color : white;
  font-size: 40pt;
}

.playerCard img {
  
  left: 0;  
  width: 40px;  
  height: 40px;  
  
}

.cardCenter {

  margin: 2px;
  text-align: center;
  width: 100%;
}

.playername{
 
  width: 100%;
  font-size: 16pt;
  min-width: 70%;
  font-family: spaceranger;
  letter-spacing: 2px;
  
}

.playerCard .progress {
  width : 100%;
  height: 50%;
  
  background-color: #3b3b3b;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  margin-bottom: 3px;



}




.victim{
  display: inline-block;
  font-size: 18px;
}



.lifeBar {

    
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    
    
    font-size: 8pt;
    text-align: center;
    
    
    
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    
    
    
  
}

.shieldBar{

 -moz-box-sizing: border-box;
         box-sizing: border-box;
    
    
    font-size: 8pt;
    text-align: center;
    vertical-align: center;
    
    
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);
    background:         linear-gradient(#2d2d2d,#444);
    

}


.noplayer{
  
  font-size: 10pt;    
  font-family: spaceAge;  
  color:#FF4242; 
  text-align: center;
  width: 100%;
  
  
  margin-top: 25px;
}




@-webkit-keyframes STAR-MOVE {
  from {
    left: 0;
    top: 0;
  }
  to { 
    left: -10000px;
    top: -2000px;
  }
}

#background {
  background: black url(imgs/background.png) repeat 5% 5%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 100;
  
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

#midground {
  background: url(imgs/midground.png) repeat 20% 20%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 200;
  
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 150s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

#foreground {
  background: url(imgs/foreground.png) repeat 35% 35%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 300;
  
  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}



#mainContainer{
  z-index: 300;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
}



